# -- Specific files to ignore
TupRules.inc
compile_commands.json


# These are the directories and files we will ignore
.cproject
.directory
.project
.settings
.tup
.vscode
.cache
img
org.kde.konsole.desktop
p1
sysroot
html
latex

# now some generic files that will be ignored
*.log
*.o
*.old
*.elf
*.a
*.dmp
targets/**/grub.cfg
targets/**/cfg-file*

targets/**/inc/constants.*
targets/**/config
targets/**/debug
targets/**/inc/debug.h
targets/**/usr/include/*.h
targets/**/usr/include/*.inc
targets/**/usr/include/sys/*.h
targets/**/usr/include/kernel/*.h
targets/**/usr/include/kernel/arch/*.h


